<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body class="home">
<%- include('./partials/nav.ejs') %>
<h1>Feedback Management System</h1>
<p>Build with Node.js Express, EJS, MongoDB.</p>
<p>In the future will be added Bootstrap</p>
</body>
</html>